Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-check, shellcheck, shellcheck-scripts, yamllint, markdownlint

nix-flake-check:
  name: Nix Flake Check
  entry: nix flake check --all-systems --no-build
  language: system
  pass_filenames: false
  require_serial: true

shellcheck:
  name: ShellCheck
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1091

shellcheck-scripts:
  name: ShellCheck (scripts/)
  entry: shellcheck
  language: system
  args:
  - --external-sources
  - --exclude=SC1091
  - --severity=error

yamllint:
  name: yamllint
  entry: yamllint
  language: system
  args:
  - -d
  - '{extends: relaxed, rules: {line-length: {max: 120}, trailing-spaces: disable, new-line-at-end-of-file: disable}}'

markdownlint:
  name: markdownlint
  entry: markdownlint
  language: system
  args:
  - --disable
  - MD013
  - --disable
  - MD047

test: 테스트 코드 미흡한 부분 대폭 개선
  README.md
  docs/DEVELOPMENT-SCENARIOS.md
  docs/MODULE-LIBRARY.md
  docs/SCRIPTS.md
  modules/shared/config/claude/commands/update-docs-workflow.md
  tests/integration/file-generation-integration.nix
  tests/integration/package-availability-integration.nix
  tests/unit/basic-functionality-unit.nix
  tests/unit/configuration-validation-unit.nix
  tests/unit/platform-detection-unit.nix
Due: markdownlint

refactor: Claude 명령어 워크플로우 구조 개선
  modules/shared/config/claude/commands/build.md
  modules/shared/config/claude/commands/code.md
  modules/shared/config/claude/commands/plan.md
  tests/unit/claude-config-copy-consistency-unit.nix
Due: markdownlint

fix: Claude config 복사 시스템 중복 메커니즘 해결
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/files.nix
Due: none

fix: Claude config 복사 시스템 중복 메커니즘 해결 (#117)
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/files.nix
Due: none

docs: PR 자동 머지 설정 가이드 추가
  CLAUDE.md
Due: markdownlint

docs: PR 자동 머지 설정 가이드 추가 (#118)
  CLAUDE.md
Due: markdownlint

flake.lock: Update (#119)
  flake.lock
Due: none

test: Phase 3 시스템 통합 테스트 구축
  tests/e2e/system-deployment-e2e.nix
  tests/integration/system-build-integration.nix
Due: none

docs: Claude 설정 업데이트
  modules/shared/config/claude/CLAUDE.md
Due: markdownlint

test: Phase 4-5 리소스 모니터링 및 네트워크 의존성 테스트 완료
  tests/integration/network-dependencies-integration.nix
  tests/performance/resource-usage-perf.nix
Due: none

test: Phase 2 오류 처리 및 복구 테스트 시스템 구축
  tests/integration/recovery-mechanisms-integration.nix
  tests/unit/error-handling-unit.nix
  tests/unit/input-validation-unit.nix
Due: none

fix: 테스트 파일의 Nix 구문 오류 수정
  tests/integration/network-dependencies-integration.nix
  tests/unit/error-handling-unit.nix
  tests/unit/input-validation-unit.nix
Due: none

fix: 테스트 파일의 Nix 구문 오류 수정 (#120)
  tests/integration/network-dependencies-integration.nix
  tests/unit/error-handling-unit.nix
  tests/unit/input-validation-unit.nix
Due: none

feat: worktree 경로를 .local/tree로 변경
  modules/shared/config/claude/commands/create-worktree.md
Due: markdownlint

feat: worktree 경로를 .local/tree로 변경 (#121)
  modules/shared/config/claude/commands/create-worktree.md
Due: markdownlint

fix: Claude 설정 복사 시 macOS 호환성 및 변수 처리 개선
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
Due: none

feat: pre-commit 시스템 대폭 개선
  .pre-commit-config.yaml
Due: yamllint

test: pre-commit 테스트
  .pre-commit-config.yaml
  README_TEST.md
Due: yamllint, markdownlint

fix: CI 환경에서 Nix 명령어 누락 문제 해결
  .pre-commit-config.yaml
Due: yamllint

fix: Claude 설정 복사 시 macOS 호환성 및 변수 처리 개선 (#123)
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
Due: none

feat: Claude 명령어 시스템 확장
  .github/workflows/eval.yml
  .gitignore
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/check-ci.md
  modules/shared/config/claude/commands/create-pr.md
Due: yamllint, markdownlint

feat: Claude 명령어 시스템 확장 (#124)
  .github/workflows/eval.yml
  .gitignore
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/check-ci.md
  modules/shared/config/claude/commands/create-pr.md
Due: yamllint, markdownlint

perf: Build 워크플로우 Matrix 병렬화 및 Draft PR 최적화
  .github/workflows/build.yml
Due: yamllint

fix: check-ci.md 파일 포맷팅 수정
  modules/shared/config/claude/commands/check-ci.md
Due: markdownlint

fix: GitHub Actions runner와 시스템 아키텍처 매핑 수정
  .github/workflows/build.yml
  .github/workflows/eval.yml
Due: yamllint

docs: CI 성능 최적화 가이드 문서 추가
  docs/ci-performance-optimization.md
Due: markdownlint

fix: 문서 파일 끝 newline 추가
  docs/ci-performance-optimization.md
Due: markdownlint

perf: CI 성능 개선 - Matrix 병렬화 및 Draft PR 최적화 (#125)
  .github/workflows/build.yml
  .github/workflows/eval.yml
  docs/ci-performance-optimization.md
Due: yamllint, markdownlint

fix: DRY_RUN 변수 정의 오류 해결
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
Due: none

fix: sudo 보안 개선 - 사전 검증 제거 및 사용자 친화적 메시지 추가
  apps/aarch64-darwin/build-switch
  apps/x86_64-darwin/build-switch
  apps/x86_64-darwin/copy-keys
  tests/unit/flake-structure-test.nix
  tests/unit/ssh-key-security-test.nix
  tests/unit/sudo-security-test.nix
Due: none

feat: TDD 기반 시스템 보안성, 구조, 사용성 대폭 개선
  Makefile
  flake.nix
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/create-worktree.md
  tests/unit/makefile-usability-test.nix
Due: markdownlint

fix: sudo 보안 개선 - 사전 검증 제거 및 사용자 친화적 메시지 추가 (#126)
  Makefile
  apps/aarch64-darwin/build-switch
  apps/x86_64-darwin/build-switch
  apps/x86_64-darwin/copy-keys
  flake.nix
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/create-worktree.md
  tests/unit/flake-structure-test.nix
  tests/unit/makefile-usability-test.nix
  tests/unit/ssh-key-security-test.nix
  tests/unit/sudo-security-test.nix
Due: markdownlint

refactor: flake.nix 모듈화로 코드 구조 개선
  flake.nix
  lib/platform-apps.nix
  lib/test-apps.nix
Due: none

fix: 중복 코드 제거 및 테스트 시스템 개선
  Makefile
  modules/darwin/packages.nix
Due: none

refactor: test-apps 시스템 개선 및 test-utils 추가
  lib/test-apps.nix
  lib/test-utils.nix
Due: none

docs: 포괄적인 API 문서 및 아키텍처 다이어그램 추가
  README.md
  docs/api-reference.md
  docs/architecture.md
Due: markdownlint

feat: CI/CD 파이프라인 전면 개편
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: yamllint

Path conditions:
  nix-flake-check: any of: ^.*\\.nix$
  shellcheck: any of: \.(sh|bash|zsh)$, but not: (modules/shared/config/p10k\.zsh$|node_modules/|\.git/|result/)
  shellcheck-scripts: any of: ^scripts/[^/]*$, but not: \.txt$
  yamllint: any of: \.(yaml|yml)$, but not: (node_modules/|\.git/|result/)
  markdownlint: any of: \.md$, but not: (node_modules/|\.git/|result/)
