Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, deadnix, go-test, flake-outputs-check

nixfmt:
  name: nixfmt (RFC 166)
  entry: nixfmt
  language: system
  description: Official Nix code formatter

statix:
  name: statix
  entry: statix check
  language: system
  pass_filenames: false
  description: Nix anti-pattern linter

deadnix:
  name: deadnix
  entry: deadnix --edit
  language: system
  description: Dead code detector with auto-fix

go-test:
  name: Go Tests (Claude Hooks)
  entry: bash -c 'cd modules/shared/programs/claude/hooks-go && nix-shell -p go --run "go test -v ./..."'
  language: system
  pass_filenames: false
  description: Run Go tests for Claude Code hooks

flake-outputs-check:
  name: Flake Outputs Naming Conflict Check
  entry: ./scripts/check-flake-outputs.sh
  language: system
  pass_filenames: false
  description: Prevent naming conflicts between apps, packages, and checks

refactor(claude): Streamline config validation and documentation (#727)
  .claude/commands/improve-claude-config.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/programs/claude-hook/internal/hook/hook.go
  modules/shared/programs/claude-hook/internal/hook/validation.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/message_cleaner_test.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator_test.go
Due: go-test

refactor: Simplify pre-commit and Makefile structure
  .claude/README.md
  .claude/commands/improve-claude-config.md
  .claude/skills/nix-claude-config/reference.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  config/advanced-settings.yaml
  config/build-settings.yaml
  config/cache.yaml
  config/directory-mappings.yaml
  config/error-handling.yaml
  config/network.yaml
  config/paths.yaml
  config/performance.yaml
  config/platforms.yaml
  config/profiles/development.yaml
  config/profiles/production.yaml
  config/security.yaml
  docs/CODE_QUALITY_IMPROVEMENTS.md
  docs/examples/yaml-config-templates.yaml
  flake.lock
  lib/formatters.nix
  modules/darwin/config/karabiner/karabiner.json
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/agents/backend-architect.md
  modules/shared/config/claude/agents/code-reviewer.md
  modules/shared/config/claude/agents/debugger.md
  modules/shared/config/claude/agents/frontend-developer.md
  modules/shared/config/claude/agents/test-automator.md
  modules/shared/config/claude/commands/create-claude-skill.md
  modules/shared/config/claude/commands/reflect.md
  modules/shared/config/claude/commands/setup-nix.md
  modules/shared/config/claude/commands/validate-quality.md
  modules/shared/config/claude/skills/configuring-claude-code/SKILL.md
  modules/shared/config/claude/skills/testing-github-actions/SKILL.md
  modules/shared/config/claude/skills/testing-github-actions/reference.md
Due: nixfmt, statix, deadnix

docs(claude-skills): Add configuring-claude-code skill reference
  modules/shared/config/claude/skills/configuring-claude-code/reference.md
Due: none

fix(ci): Revert flake.lock to main to resolve Linux build failure
  flake.lock
Due: none

fix(nixos): Use stable LTS kernel (6.6.x) instead of unstable 6.12
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(ci): Force flake refresh to bypass cached evaluation
  Makefile
Due: none

fix(ci): Enable fallback builds for missing cache entries
  .github/workflows/ci.yml
  Makefile
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(ci): Disable narinfo negative cache to enable fallback builds
  .github/workflows/ci.yml
Due: none

flake.lock: Update
  flake.lock
Due: none

fix(ci): Clear Nix evaluation cache before build
  .github/workflows/ci.yml
Due: none

fix(nix): Add fallback and keep-going flags to build command
  Makefile
Due: none

fix(nixos): Pin kernel to LTS version for CI stability
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(ci): Use LTS kernel to resolve Linux build failures
  flake.lock
  tests/unit/build-optimizer-test.nix
Due: nixfmt, statix, deadnix

fix(ci): Skip disko module in CI to avoid kernel build issues
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(nixos): Add minimal filesystem config for CI builds
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(nixos): Disable disko and use simple filesystem config
  hosts/nixos/default.nix
  modules/nixos/disk-config.nix
Due: nixfmt, statix, deadnix

fix(nixos): Remove disko import to prevent CI kernel module shrinking
  hosts/nixos/default.nix
  lib/formatters.nix
Due: nixfmt, statix, deadnix

fix(nixos): Use boot.initrd option instead of removing disko
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(nixos): Merge boot.initrd configuration to resolve attribute conflict
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(nixos): Remove disko import for CI compatibility (final solution)
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(flake): Remove disko module from nixosConfigurations
  flake.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

fix(nixos): Disable explicit kernel package specification
  hosts/nixos/default.nix
Due: nixfmt, statix, deadnix

fix(makefile): Use eval instead of build for NixOS in CI
  Makefile
Due: none

docs(claude): Add token optimization principles to CLAUDE.md
  modules/shared/config/claude/CLAUDE.md
Due: none

ci: Remove paths-ignore to run CI for all file changes
  .github/workflows/ci.yml
Due: none

docs(claude): Add token optimization principles to CLAUDE.md (#729)
  .github/workflows/ci.yml
  modules/shared/config/claude/CLAUDE.md
Due: none

flake.lock: Update (#730)
  flake.lock
Due: none

fix(darwin): fix IntelliJ IDEA launcher path and simplify file configuration
  modules/darwin/files.nix
  modules/darwin/home-manager.nix
  modules/shared/programs/zsh/default.nix
Due: nixfmt, statix, deadnix

fix(darwin): fix IntelliJ IDEA launcher path and simplify file configuration (#731)
  modules/darwin/files.nix
  modules/darwin/home-manager.nix
  modules/shared/programs/zsh/default.nix
Due: nixfmt, statix, deadnix

refactor(claude): improve CLAUDE.md structure and clarity
  modules/shared/config/claude/CLAUDE.md
Due: none

refactor(claude): improve CLAUDE.md structure and clarity (#732)
  modules/shared/config/claude/CLAUDE.md
Due: none

refactor(claude): replace do-tasks/do-todo with plan-based workflow
  modules/shared/config/claude/commands/brainstorm.md
  modules/shared/config/claude/commands/do-tasks.md
  modules/shared/config/claude/commands/do-todo.md
  modules/shared/config/claude/commands/execute-plan.md
  modules/shared/config/claude/commands/write-plan.md
  modules/shared/config/claude/skills/collaboration/brainstorming/SKILL.md
  modules/shared/config/claude/skills/collaboration/executing-plans/SKILL.md
  modules/shared/config/claude/skills/collaboration/writing-plans/SKILL.md
Due: none

refactor(claude): replace do-tasks/do-todo with plan-based workflow (#733)
  modules/shared/config/claude/commands/brainstorm.md
  modules/shared/config/claude/commands/do-tasks.md
  modules/shared/config/claude/commands/do-todo.md
  modules/shared/config/claude/commands/execute-plan.md
  modules/shared/config/claude/commands/write-plan.md
  modules/shared/config/claude/skills/collaboration/brainstorming/SKILL.md
  modules/shared/config/claude/skills/collaboration/executing-plans/SKILL.md
  modules/shared/config/claude/skills/collaboration/writing-plans/SKILL.md
Due: none

feat(nix): upgrade claude-code to auto-updating version via sadjow overlay
  flake.lock
  flake.nix
  hosts/darwin/default.nix
  hosts/nixos/default.nix
  modules/shared/overlays.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

feat(nix): upgrade claude-code to auto-updating version via sadjow overlay (#734)
  flake.lock
  flake.nix
  hosts/darwin/default.nix
  hosts/nixos/default.nix
  modules/shared/overlays.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

feat(claude): add top-level skills INDEX and REQUESTS files
  modules/shared/config/claude/skills/INDEX.md
  modules/shared/config/claude/skills/REQUESTS.md
Due: none

feat(claude): add top-level skills INDEX and REQUESTS documentation
  modules/shared/config/claude/skills/INDEX.md
  modules/shared/config/claude/skills/REQUESTS.md
Due: none

Path conditions:
  nixfmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  go-test: any of: \.go$
  flake-outputs-check: any of: flake\.nix$|lib/testing\.nix$
