Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-syntax-check, test-quick, build-validation

Path conditions:
  nix-syntax-check: any of: \\.nix$
  test-quick: any of: \.nix$
  build-validation: any of: \.(nix|lock)$

refactor: Claude 시스템을 Main Conductor + Agent 라우팅 구조로 최적화
  CLAUDE.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/SUBAGENT.md
Due: none

refactor: Claude 시스템을 Main Conductor + Agent 라우팅 구조로 최적화 (#478)
  CLAUDE.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/SUBAGENT.md
Due: none

flake.lock: Update (#479)
  flake.lock
Due: build-validation

feat: Claude 설정 최적화 및 전문 에이전트 추가
  .claude/agents/claude-optimizer.md
  .claude/agents/claude-prompt-expert.md
  .claude/agents/config-auditor.md
  .claude/agents/nix-system-expert.md
  .claude/commands/update-claude.md
Due: none

docs: update.md 영어 번역 및 내용 개선
  modules/shared/config/claude/commands/update.md
Due: none

fix: MCP.md 파일 참조 오류 수정
  modules/shared/config/claude/MCP.md
Due: none

fix: Claude 설정 파일 참조 오류 수정 (#480)
  .claude/agents/claude-optimizer.md
  .claude/agents/claude-prompt-expert.md
  .claude/agents/config-auditor.md
  .claude/agents/nix-system-expert.md
  .claude/commands/update-claude.md
  modules/shared/config/claude/MCP.md
  modules/shared/config/claude/commands/update.md
Due: none

feat: Claude 설정 간소화 - 5개 핵심 명령어로 정리
  modules/shared/config/claude/SIMPLE_COMMANDS.md
  modules/shared/config/claude/backup_20250805_223858/CLAUDE.md
  modules/shared/config/claude/backup_20250805_223858/FLAG.md
  modules/shared/config/claude/backup_20250805_223858/MCP.md
  modules/shared/config/claude/backup_20250805_223858/ORCHESTRATION.md
  modules/shared/config/claude/backup_20250805_223858/SIMPLE.md
  modules/shared/config/claude/backup_20250805_223858/SUBAGENT.md
  modules/shared/config/claude/backup_20250805_223858/settings.json
  modules/shared/config/claude/commands/analyze_optimized.md
  modules/shared/config/claude/commands/debug_optimized.md
  modules/shared/config/claude/commands/nix_optimized.md
Due: none

improve: Claude 설정 복사 안정성 강화
  CLAUDE.md
  docs/CONFIGURATION.md
  modules/shared/config/claude/backup_20250805_223858/CLAUDE.md
  modules/shared/config/claude/backup_20250805_223858/FLAG.md
  modules/shared/config/claude/backup_20250805_223858/MCP.md
  modules/shared/config/claude/backup_20250805_223858/ORCHESTRATION.md
  modules/shared/config/claude/backup_20250805_223858/SIMPLE.md
  modules/shared/config/claude/backup_20250805_223858/SUBAGENT.md
  modules/shared/config/claude/backup_20250805_223858/settings.json
  modules/shared/config/claude/commands/update.md
  modules/shared/lib/claude-activation.nix
  tests/brew-karabiner-test.sh
Due: test-quick, build-validation

improve: Claude 설정 복사 안정성 강화 (#481)
  CLAUDE.md
  docs/CONFIGURATION.md
  modules/shared/config/claude/backup_20250805_223858/CLAUDE.md
  modules/shared/config/claude/backup_20250805_223858/FLAG.md
  modules/shared/config/claude/backup_20250805_223858/MCP.md
  modules/shared/config/claude/backup_20250805_223858/ORCHESTRATION.md
  modules/shared/config/claude/backup_20250805_223858/SIMPLE.md
  modules/shared/config/claude/backup_20250805_223858/SUBAGENT.md
  modules/shared/config/claude/backup_20250805_223858/settings.json
  modules/shared/config/claude/commands/update.md
  modules/shared/lib/claude-activation.nix
  tests/brew-karabiner-test.sh
Due: test-quick, build-validation

임시 커밋: troubleshoot 중 변경사항 (pre-commit 수정 반영)
  CLAUDE.md
  lib/system-configs.nix
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/config/claude/MCP.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/commands/analyze.md
  modules/shared/config/claude/commands/analyze_optimized.md
  modules/shared/config/claude/commands/claude-code-optimize.md
  modules/shared/config/claude/commands/command.md
  modules/shared/config/claude/commands/config.md
  modules/shared/config/claude/commands/debug.md
  modules/shared/config/claude/commands/estimate.md
  modules/shared/config/claude/commands/nix_optimized.md
  modules/shared/config/claude/commands/troubleshoot.md
  modules/shared/home-manager.nix
Due: test-quick, build-validation

fix: Homebrew 권한 문제 및 사용자 해결 개선
  lib/system-configs.nix
  lib/user-resolution.nix
Due: test-quick, build-validation

fix: Homebrew 권한 문제 및 사용자 해결 개선 (#483)
  CLAUDE.md
  lib/system-configs.nix
  lib/user-resolution.nix
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/config/claude/MCP.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/commands/analyze.md
  modules/shared/config/claude/commands/analyze_optimized.md
  modules/shared/config/claude/commands/claude-code-optimize.md
  modules/shared/config/claude/commands/command.md
  modules/shared/config/claude/commands/config.md
  modules/shared/config/claude/commands/debug.md
  modules/shared/config/claude/commands/estimate.md
  modules/shared/config/claude/commands/nix_optimized.md
  modules/shared/config/claude/commands/troubleshoot.md
  modules/shared/home-manager.nix
Due: test-quick, build-validation

fix: Claude 설정 파일 권한 문제 해결
  flake.lock
  hosts/darwin/default.nix
  lib/system-configs.nix
  modules/darwin/home-manager.nix
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

flake.lock: Update (#484)
  flake.lock
Due: build-validation

Test commit demonstrating proper pre-commit hook handling
  test-file-with-issues.md
Due: none

Clean up test file used for pre-commit demonstration
  test-file-with-issues.md
Due: none

refactor: 코드베이스 정리 및 Claude 설정 시스템 구성
  .pre-commit-config.yaml
  modules/shared/config/claude/MCP.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/SIMPLE.md
  modules/shared/config/claude/SIMPLE_COMMANDS.md
  modules/shared/config/claude/SUBAGENT.md
Due: none

feat: pre-commit 설정 대폭 개선 및 코드 품질 시스템 구축 ✨
  .pre-commit-config.yaml
  lib/utils-system.nix
Due: test-quick, build-validation

fix: Claude Code EACCES 권한 오류 해결
  modules/shared/config/claude/commands/analyze.md
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

fix: Darwin 빌드 실패 문제 해결 및 Determinate Nix 통합 개선
  README.md
  hosts/darwin/default.nix
Due: test-quick, build-validation

chore: cleanup 코드 정리 및 불필요한 매개변수 제거
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

fix: Darwin primary user 문제 해결 및 동적 사용자 감지 구현
  lib/user-resolution.nix
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

fix: CLAUDE.md markdown linting 문제 해결
  CLAUDE.md
Due: none

feat: Claude Code 9개 핵심 명령어 시스템 완성
  CLAUDE.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/MCP.md
  modules/shared/config/claude/SIMPLE_COMMANDS.md
  modules/shared/config/claude/SUBAGENT.md
  modules/shared/config/claude/commands/cleanup.md
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

refactor: Claude 설정 시스템 통합 및 단순화
  .claude/commands/update-claude.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/FLAG.md
  modules/shared/config/claude/MCP.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/SIMPLE.md
  modules/shared/config/claude/SIMPLE_COMMANDS.md
  modules/shared/config/claude/SUBAGENT.md
  modules/shared/config/claude/agents/prompt-engineer.md
  modules/shared/config/claude/claude-update.md
Due: none

style: update-claude 명령어 파일 공백 정리
  .claude/commands/update-claude.md
Due: none

fix: Claude Code 권한 문제 해결
  .gitignore
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

feat: build-switch 타겟 추가 및 Makefile 개선
  CLAUDE.md
  Makefile
  lib/user-resolution.nix
Due: test-quick, build-validation

fix: Claude 설정 경로 우선순위 개선 및 테스트 추가
  modules/shared/lib/claude-activation.nix
  tests/unit/test-claude-symlink-priority.sh
Due: test-quick, build-validation

refactor: Claude 설정 구조 개선 및 중복 파일 정리
  CLAUDE.md
  modules/shared/config/claude/COMMANDS.md
  modules/shared/config/claude/FLAG.md
  modules/shared/config/claude/FLAGS.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/ORCHESTRATOR.md
  modules/shared/config/claude/commands/git/commit.md
  modules/shared/config/claude/commands/git/create-pr.md
  modules/shared/config/claude/commands/git/fix-pr.md
  modules/shared/config/claude/commands/git/update-pr.md
  tests/config/test-config.sh
Due: none

refactor: Claude 설정 모듈화 및 MCP 서버 분리 구조 개선
  .claude/commands/update-claude.md
  CLAUDE.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/MCP.md.backup
  modules/shared/config/claude/ORCHESTRATOR.md
  modules/shared/config/claude/commands/reflect.md
  modules/shared/config/claude/mcp/context7.md
  modules/shared/config/claude/mcp/core.md
  modules/shared/config/claude/mcp/playwright.md
  modules/shared/config/claude/mcp/sequential.md
  modules/shared/config/claude/settings.json
Due: none

refactor: update-claude 명령어 개선 및 불필요한 복잡성 제거
  .claude/commands/update-claude.md
  CLAUDE.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/MCP.md.backup
  modules/shared/config/claude/ORCHESTRATOR.md
  modules/shared/config/claude/claude-update.md
  modules/shared/config/claude/mcp/MCP_Context7.md
  modules/shared/config/claude/mcp/MCP_Magic.md
  modules/shared/config/claude/mcp/MCP_Playwright.md
  modules/shared/config/claude/mcp/MCP_Sequential.md
  modules/shared/config/claude/mcp/MCP_Serena.md
  modules/shared/config/claude/mcp/context7.md
  modules/shared/config/claude/mcp/core.md
  modules/shared/config/claude/mcp/playwright.md
  modules/shared/config/claude/mcp/sequential.md
  modules/shared/config/claude/settings.json
Due: none
