Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-syntax-check, test-quick, build-validation

Path conditions:
  nix-syntax-check: any of: \\.nix$
  test-quick: any of: \.nix$
  build-validation: any of: \.(nix|lock)$

chore: gitignore 정리 - 중복 serena 룰 제거 (#466)
  modules/shared/config/claude/commands/agent.md
  modules/shared/home-manager.nix
  modules/shared/lib/claude-activation.nix
  tests/TESTING_GUIDE.md
  tests/e2e/test-claude-commands-end-to-end.sh
  tests/integration/test-build-switch-claude-integration.sh
  tests/run-claude-tests.sh
  tests/unit/test-claude-activation.sh
Due: test-quick, build-validation

refactor: Claude 설정을 폴더 단위 심볼릭 링크로 대폭 단순화
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

docs: Claude 통합 가이드에 심볼릭 링크 방식 업데이트 반영
  docs/CLAUDE-INTEGRATION.md
  modules/shared/config/claude/commands/validate.md
Due: none

fix: Claude 설정을 폴더 단위 심볼릭 링크로 최적화 (#467)
  docs/CLAUDE-INTEGRATION.md
  modules/shared/config/claude/commands/validate.md
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

feat: 테스트 인프라 현대화 - 공통 라이브러리 및 개선된 테스트 러너
  tests/config/test-config.sh
  tests/lib/common.sh
  tests/run-claude-tests.sh
  tests/run-claude-tests.sh.backup
Due: none

feat: 테스트 인프라 현대화 - 공통 라이브러리 및 개선된 테스트 러너 (#468)
  tests/config/test-config.sh
  tests/lib/common.sh
  tests/run-claude-tests.sh
  tests/run-claude-tests.sh.backup
Due: none

feat: Translate Claude config files to English
  .claude/commands/claude/agent.md
  .claude/commands/claude/command.md
  .claude/commands/claude/config.md
  .claude/commands/claude/update.md
  .claude/commands/claude/validate.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/FLAG.md
  modules/shared/config/claude/MCP.md
  modules/shared/config/claude/ORCHESTRATION.md
  modules/shared/config/claude/SUBAGENT.md
  modules/shared/config/claude/TOKEN-OPTIMIZATION-GUIDE.md
  modules/shared/config/claude/agents/claude-code-expert.md
  modules/shared/config/claude/commands/claude-code-optimize.md
  modules/shared/config/claude/commands/claude.md
  modules/shared/config/claude/commands/improve.md
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

refactor: upsert-pr 명령어를 create-pr과 update-pr로 분리
  .claude/agents/claude-code-agent.md
  .claude/agents/claude-code-expert.md
  .claude/commands/update-claude.md
  CLAUDE.md
  README.md
  modules/shared/config/claude/claude-update.md
  modules/shared/config/claude/commands/git/create-pr.md
  modules/shared/config/claude/commands/git/update-pr.md
  modules/shared/config/claude/commands/git/upsert-pr.md
  modules/shared/config/claude/commands/i
  modules/shared/config/claude/commands/update-claude.md
Due: none

docs: README.md를 jito 실용주의 철학에 맞게 단순화
  .claude/commands/update-claude.md
Due: none

flake.lock: Update (#470)
  flake.lock
Due: build-validation

flake.lock: Update (#471)
  flake.lock
Due: build-validation

cleanup: 코드베이스 정리 및 최적화 완료
  PERFORMANCE_ANALYSIS_REPORT.md
  PERFORMANCE_OPTIMIZATION_REPORT.md
  improved-dependency-analysis.json
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/mcp/claude-code.nix
  modules/shared/mcp/claude-desktop.nix
  modules/shared/mcp/default.nix
  modules/shared/mcp/management.nix
  modules/shared/mcp/project-config.nix
  modules/shared/mcp/servers/default.nix
  package-lock.json
  package.json
  scripts/refactor-backup
  test-file.txt
  tests/run-claude-tests.sh.backup
Due: test-quick, build-validation

feat: Claude MCP 통합 및 설정 파일 정리 완료
  .claude/agents/nix-system-expert.md
  .claude/commands/research-plan-execute.md
  CLAUDE.md
  improved-dependency-analysis.json
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/config/claude/commands/research-plan-execute.md
  modules/shared/mcp/claude-code.nix
  modules/shared/mcp/claude-desktop.nix
  modules/shared/mcp/default.nix
  modules/shared/mcp/management.nix
  modules/shared/mcp/project-config.nix
  modules/shared/mcp/servers/default.nix
Due: test-quick, build-validation

cleanup: .venv 디렉토리 제거 및 gitignore 정리
  .gitignore
Due: none

cleanup: 코드베이스 정리 및 불필요한 요소 제거
  hosts/darwin/default.nix
  lib/flake-config.nix
  modules/darwin/files.nix
  modules/shared/home-manager.nix
  scripts/compare-configs
  scripts/templates/apply-template.sh
Due: test-quick, build-validation

docs: update-claude 명령어 개선 및 영어 번역
  .claude/commands/update-claude.md
  CLAUDE.md
  lib/utils-system.nix
Due: test-quick, build-validation

feat: 병렬 테스트 실행 최적화 및 test-quick 명령어 추가
  Makefile
  scripts/quick-test.sh
Due: none

feat: 병렬 테스트 실행 최적화 및 test-quick 명령어 추가 (#472)
  Makefile
  scripts/quick-test.sh
Due: none

fix: Makefile build-fast 명령어 구문 오류 수정
  Makefile
Due: none

cleanup: 불필요한 파일 및 중복 리소스 제거
  execute-consolidation.sh
  plan.md
  scripts/analyze-dependencies.py
  scripts/prd.txt
  scripts/utils/check-config
  scripts/utils/config-loader.sh
  test-user-auth-prd.md
  todo.md
  validate-consolidation.sh
Due: none

cleanup: 추가 마이그레이션 스크립트 및 템플릿 제거
  scripts/migrate-platform-libs.sh
  scripts/refactor-rollback
  scripts/templates/apply-template.sh
Due: none

feat: Claude Code MCP 서버 자동 설치 기능 추가
  .gitignore
  Makefile
  README.md
  scripts/setup-claude-mcp
Due: none

feat: Claude Code MCP 서버 자동 설치 기능 추가 (#474)
  .gitignore
  Makefile
  README.md
  scripts/setup-claude-mcp
Due: none

cleanup: Python 스크립트 import 최적화 및 공백 정리
  scripts/analyze-dependencies-improved.py
  scripts/configure-keyboard-input.py
  scripts/detect-dead-code.py
  scripts/verify-keyboard-input.py
Due: none

feat: 테스트 시스템 대폭 개선 - 향상된 리포팅 및 성능 모니터링
  .gitignore
  Makefile
  nix/nix.conf
  scripts/enhanced-test.sh
  scripts/quick-test.sh
  tests/performance/test-performance-monitor.sh
Due: none

cleanup: 코드베이스 정리 및 불필요한 파일 제거
  hosts/nixos/default.nix
  modules/shared/default.nix
  scripts/configure-keyboard-input.py
  scripts/verify-keyboard-input.py
  tests/PERFORMANCE.md
  tests/PROJECT_COMPLETION_REPORT.md
  tests/performance/final-integration-validation.sh
  tests/performance/memory-optimization-test.sh
  tests/performance/parallel-execution-test.sh
  tests/performance/run-memory-benchmark.sh
  tests/performance/run-parallel-benchmark.sh
  tests/performance/run-performance-profiling.sh
  tests/performance/run-structure-optimization-test.sh
Due: test-quick, build-validation

feat: 테스트 시스템 대폭 개선 - 향상된 리포팅 및 성능 모니터링 (#475)
  .gitignore
  Makefile
  hosts/nixos/default.nix
  modules/shared/default.nix
  nix/nix.conf
  scripts/analyze-dependencies-improved.py
  scripts/configure-keyboard-input.py
  scripts/detect-dead-code.py
  scripts/enhanced-test.sh
  scripts/quick-test.sh
  scripts/verify-keyboard-input.py
  tests/PERFORMANCE.md
  tests/PROJECT_COMPLETION_REPORT.md
  tests/performance/final-integration-validation.sh
  tests/performance/memory-optimization-test.sh
  tests/performance/parallel-execution-test.sh
  tests/performance/run-memory-benchmark.sh
  tests/performance/run-parallel-benchmark.sh
  tests/performance/run-performance-profiling.sh
  tests/performance/run-structure-optimization-test.sh
  tests/performance/test-performance-monitor.sh
Due: test-quick, build-validation

fix: home-manager 플랫폼 분리 및 시스템 레벨 import 오류 해결
  CLAUDE.md
  hosts/nixos/default.nix
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/home-manager.nix
Due: test-quick, build-validation

fix: modules/shared/default.nix 파일 추가 - Darwin 빌드 에러 해결
  modules/shared/default.nix
Due: test-quick, build-validation

fix: 성능 테스트 무한 대기 문제 해결 - performanceTests 객체 구현으로 CI 타임아웃 해결
  lib/check-builders.nix
Due: test-quick, build-validation

fix: home-manager 플랫폼 분리 및 시스템 레벨 import 오류 해결 (#476)
  CLAUDE.md
  hosts/nixos/default.nix
  lib/check-builders.nix
  modules/darwin/home-manager.nix
  modules/nixos/home-manager.nix
  modules/shared/default.nix
  modules/shared/home-manager.nix
Due: test-quick, build-validation

feat: Tailscale VPN 설정 추가
  hosts/darwin/default.nix
  hosts/nixos/default.nix
  modules/shared/packages.nix
Due: test-quick, build-validation

revert: Tailscale 설정 제거
  hosts/darwin/default.nix
  hosts/nixos/default.nix
  modules/shared/packages.nix
Due: test-quick, build-validation

feat: Tailscale GUI 앱 추가
  modules/darwin/casks.nix
Due: test-quick, build-validation

fix: Tailscale cask 이름 수정 (tailscale → tailscale-app)
  modules/darwin/casks.nix
Due: test-quick, build-validation

fix: Makefile switch 타겟의 시스템 이름 생성 오류 수정
  Makefile
Due: none

fix: Makefile switch 타겟의 시스템 이름 생성 오류 수정
  CLAUDE.md
Due: none

fix: Makefile switch 타겟의 시스템 이름 생성 오류 수정 (#477)
  CLAUDE.md
Due: none
