Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-syntax-check, test-quick, build-validation

nix-syntax-check:
  name: Nix Syntax Check
  entry: bash -c 'if command -v nix-instantiate >/dev/null 2>&1; then for file in "$@"; do echo "Checking $file..."; nix-instantiate --parse "$file" > /dev/null || exit 1; done; else echo "Nix not available, skipping syntax check"; fi'
  language: system
  pass_filenames: true

test-quick:
  name: Quick Test Suite
  entry: bash -c 'export USER=${USER:-$(whoami)} && echo "🚀 Running quick smoke tests..." && nix run --impure .#test-smoke 2>&1 | grep -v "warning:" || true'
  language: system
  pass_filenames: false

build-validation:
  name: Build Validation (Critical Files)
  ...

fix: resolve WezTerm Tokyo Night theme not applying to terminal colors
  modules/darwin/config/wezterm/wezterm.lua
Due: none

Refine CLAUDE.md to enforce code evolution over accumulation
  modules/shared/config/claude/CLAUDE.md
Due: none

fix: resolve WezTerm Tokyo Night theme not applying to terminal colors (#447)
  modules/darwin/config/wezterm/wezterm.lua
  modules/shared/config/claude/CLAUDE.md
Due: none

flake.lock: Update (#448)
  flake.lock
Due: build-validation

flake.lock: Update (#449)
  flake.lock
Due: build-validation

flake.lock: Update (#450)
  flake.lock
Due: build-validation

feat: Stage 4.1 - 안전한 코드부터 제거 완료
  hosts/nixos/default.nix
  improved-dependency-analysis.json
  lib/check-builders.nix
  lib/performance-config.nix
  modules/darwin/dock/default.nix
  modules/shared/config/claude/CLAUDE.md
  modules/shared/default.nix
  modules/shared/files.nix
  modules/shared/lib/claude-activation.nix
  modules/shared/lib/claude-config-policy.nix
  modules/shared/packages.nix
  overlays/10-feather-font.nix
  overlays/20-hammerspoon.nix
  tests/config/test-suite.nix
  tests/default.nix
  todo.md
Due: test-quick, build-validation

Stage 4.1 작업 완료: 안전한 코드부터 제거 완료
  improved-dependency-analysis.json
Due: none

todo.md 업데이트: Stage 4.1 완료 상태 반영
  Makefile
  lib/platform-system.nix
  modules/darwin/home-manager.nix
  todo.md
Due: test-quick, build-validation

refactor: remove dead code and unused files - 19 files cleaned up (#445)
  plan.md
  todo.md
Due: none

feat(nix): unfree 패키지 claude-code 허용
  lib/system-configs.nix
  modules/shared/config/nixpkgs.nix
  modules/shared/packages.nix
Due: test-quick, build-validation

feat(nix): unfree 패키지 claude-code 허용 (#452)
  lib/system-configs.nix
  modules/shared/config/nixpkgs.nix
  modules/shared/packages.nix
Due: test-quick, build-validation

feat(nix): claude agents 디렉토리 관리 추가
  modules/shared/config/claude/agents/code-reviewer.md
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

feat(claude): plan_v2.md Agent 활용 강화
  modules/shared/config/claude/agents/context-manager.md
  modules/shared/config/claude/agents/test-automator.md
  modules/shared/config/claude/commands/plan_v2.md
Due: none

feat(nix): claude agents 디렉토리 관리 및 code-reviewer agent 추가 (#453)
  modules/shared/config/claude/agents/code-reviewer.md
  modules/shared/config/claude/agents/context-manager.md
  modules/shared/config/claude/agents/test-automator.md
  modules/shared/config/claude/commands/plan_v2.md
  modules/shared/lib/claude-activation.nix
Due: test-quick, build-validation

chore: remove unnecessary log and cache files
  .cache-reports/store_analysis_20250729_204011.json
  .perf-logs/build_20250729_203614.json
Due: none

feat: 동적 에이전트 발견 시스템으로 task-subagent 업그레이드
  modules/shared/config/claude/commands/sanity-check.md
  modules/shared/config/claude/commands/task-subagent.md
Due: none

refactor: claude 명령어 구조 정리 및 create-agent 구현
  .claude/commands/create-agent.md
  modules/shared/config/claude/commands/task-subagent.md
Due: none

flake.lock: Update (#456)
  flake.lock
Due: build-validation

feat: split-role-analyst 에이전트 추가 - 범용 다면 분석 시스템
  modules/shared/config/claude/agents/split-role-analyst.md
Due: none

feat: 완전한 에이전트 시스템 재구축 및 문서화 완료
  .claude/commands/create-agent.md
  modules/shared/config/claude/agents/api-documentor.md
  modules/shared/config/claude/agents/backend-architect.md
  modules/shared/config/claude/agents/cloud-architect.md
  modules/shared/config/claude/agents/code-reviewer.md
  modules/shared/config/claude/agents/context-manager.md
  modules/shared/config/claude/agents/data-engineer.md
  modules/shared/config/claude/agents/database-optimizer.md
  modules/shared/config/claude/agents/debugger.md
  modules/shared/config/claude/agents/deployment-engineer.md
  modules/shared/config/claude/agents/devops-troubleshooter.md
  modules/shared/config/claude/agents/frontend-developer.md
  modules/shared/config/claude/agents/split-role-analyst.md
  modules/shared/config/claude/commands/plan.md
  modules/shared/config/claude/docs/agents-docs-guide.md
Due: none

feat: nix-expert 에이전트 추가 - Nix 생태계 전문 컨설턴트
  modules/shared/config/claude/agents/nix-expert.md
Due: none

feat: commit-creator 에이전트 및 /commit 명령어 추가
  .claude/commands/create-agent.md
  modules/shared/config/claude/agents/commit-creator.md
  modules/shared/config/claude/agents/pr-creator.md
  modules/shared/config/claude/commands/commit.md
  modules/shared/config/claude/commands/create-pr.md
Due: none

feat: claude 설정 정리 및 전문 명령어 시스템 추가 (sanity-check, task-subagent) (#455)
  .claude/agents/acknowledgment-responder.md
  .claude/commands/create-agent.md
  .claude/commands/create-command.md
  modules/shared/config/claude/agents/code-reviewer.md
  modules/shared/config/claude/agents/commit-creator.md
  modules/shared/config/claude/agents/context-manager.md
  modules/shared/config/claude/agents/nix-expert.md
  modules/shared/config/claude/agents/pr-creator.md
  modules/shared/config/claude/ai_docs/README.md
  modules/shared/config/claude/ai_docs/claude-code-제약사항.md
  modules/shared/config/claude/ai_docs/nix-작업-가이드.md
  modules/shared/config/claude/ai_docs/기본-원칙.md
  modules/shared/config/claude/ai_docs/일반적-문제-해결.md
  modules/shared/config/claude/ai_docs/코드-스타일.md
  modules/shared/config/claude/commands/commit.md
  modules/shared/config/claude/commands/create-pr.md
  modules/shared/config/claude/commands/plan_v2.md
  modules/shared/config/claude/commands/sanity-check.md
  modules/shared/config/claude/docs/agents-docs-guide.md
Due: none

feat: Nix 캐시 최적화 및 빌드 성능 개선
  .claude/commands/create-agent.md
  .claude/commands/create-command.md
  .claude/commands/update-agent.md
  .claude/commands/update-command.md
  .claude/docs/agent-patterns.md
  .claude/docs/command-patterns.md
  hosts/darwin/default.nix
  nix/nix.conf
  scripts/lib/build-logic.sh
  scripts/lib/progress.sh
  scripts/lib/sudo-management.sh
Due: test-quick, build-validation

feat: Nix 캐시 최적화 및 빌드 성능 개선
  scripts/lib/progress.sh
Due: none

feat: pr-creator 에이전트 성능 최적화
  modules/shared/config/claude/agents/pr-creator.md
Due: none

feat: Claude 에이전트 패턴 문서화 및 명령어 체계 개선
  .claude/docs/agent-patterns.md
  modules/shared/config/claude/commands/analyze.md
  modules/shared/config/claude/commands/build.md
  modules/shared/config/claude/commands/cleanup.md
  modules/shared/config/claude/commands/create-worktree.md
  modules/shared/config/claude/commands/design.md
  modules/shared/config/claude/commands/do-file-issues.md
  modules/shared/config/claude/commands/do-issues.md
  modules/shared/config/claude/commands/do-prompt-plan.md
  modules/shared/config/claude/commands/do-todo.md
  modules/shared/config/claude/commands/document.md
  modules/shared/config/claude/commands/estimate.md
  modules/shared/config/claude/commands/explain.md
  modules/shared/config/claude/commands/find-missing-tests.md
  modules/shared/config/claude/commands/implement.md
  modules/shared/config/claude/commands/improve.md
  modules/shared/config/claude/commands/index.md
  modules/shared/config/claude/commands/load.md
  modules/shared/config/claude/commands/make-github-issues.md
  modules/shared/config/claude/commands/make-local-issues.md
  modules/shared/config/claude/commands/plan-gh.md
  modules/shared/config/claude/commands/plan-tdd.md
  modules/shared/config/claude/commands/reflection.md
  modules/shared/config/claude/commands/security-review.md
  modules/shared/config/claude/commands/session-summary.md
  modules/shared/config/claude/commands/spawn.md
  modules/shared/config/claude/commands/task.md
  modules/shared/config/claude/commands/troubleshoot.md
  modules/shared/config/claude/commands/update-docs.md
  modules/shared/config/claude/commands/workflow.md
  modules/shared/config/claude/docs/agents-docs-guide.md
Due: none

feat: pr-creator 에이전트 워크플로우 최적화
  modules/shared/config/claude/agents/pr-creator.md
Due: none

feat: Claude 명령어 시스템 확장 및 에이전트 표준화
  PERFORMANCE_ANALYSIS_REPORT.md
  modules/shared/config/claude/agents/nix-expert.md
  modules/shared/config/claude/commands/research-plan-execute.md
Due: none

feat: task.md와 spawn.md 명령어 구분 명확화 및 GitHub 의존성 제거
  modules/shared/config/claude/commands/spawn.md
  modules/shared/config/claude/commands/task.md
Due: none

refactor: 사용되지 않는 코드 및 주석 정리
  modules/darwin/home-manager.nix
  modules/shared/files.nix
  modules/shared/packages.nix
Due: test-quick, build-validation

feat: Claude 명령어 시스템 확장 및 동적 에이전트 처리 개선 (#458)
  PERFORMANCE_ANALYSIS_REPORT.md
  modules/darwin/home-manager.nix
  modules/shared/config/claude/agents/nix-expert.md
  modules/shared/config/claude/commands/research-plan-execute.md
  modules/shared/config/claude/commands/spawn.md
  modules/shared/config/claude/commands/task.md
  modules/shared/files.nix
  modules/shared/packages.nix
Due: test-quick, build-validation

Path conditions:
  nix-syntax-check: any of: \\.nix$
  test-quick: any of: \.nix$
  build-validation: any of: \.(nix|lock)$
