Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nix-flake-check, shellcheck, shellcheck-scripts, yamllint

.pre-commit-config.yaml:

# ABOUTME: Pre-commit configuration for dotfiles repository
# ABOUTME: Includes Nix flake validation, shell script, YAML and Markdown linting

# Pre-commit hooks configuration for comprehensive code quality checks
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # ============================================================================
  # Nix-specific hooks (local repository)
  # ============================================================================
  - repo: local
    hooks:
      # Nix flake structure and syntax validation
      - id: nix-flake-check
        name: Nix Flake Check
        entry: nix flake check --all-systems --no-build
        language: system
        files: ^.*\\.nix$
        pass_filenames: false
        
  # ============================================================================
  # File-specific linting hooks
  # ============================================================================
  - repo: local
    hooks:
      # Shell script analysis with shellcheck
      - id: shellcheck
        name: ShellCheck
        entry: shellcheck
        language: system
        files: \.(sh|bash|zsh)$
        exclude: modules/shared/config/p10k\.zsh$
        args: [--external-sources, --exclude=SC1091]
        
      # Additional shellcheck for scripts/ directory (executable files)
      - id: shellcheck-scripts
        name: ShellCheck (scripts/)
        entry: shellcheck
        language: system
        files: ^scripts/[^/]*$
        exclude: \.txt$
        args: [--external-sources, --exclude=SC1091, --severity=error]
        
      # YAML file validation with yamllint
      - id: yamllint
        name: yamllint
        entry: yamllint
        language: system
        files: \.(yaml|yml)$
        args: [-d, "{extends: relaxed, rules: {line-length: {max: 120}, trailing-spaces: disable, new-line-at-end-of-file: disable}}"]
  
  # ============================================================================
  # General file quality hooks (to be added)  
  # ============================================================================
  # General file formatting and quality checks will be added here

feat: yamllint hook으로 YAML 파일 품질 검증 추가
  .pre-commit-config.yaml
Due: yamllint

feat: markdownlint hook으로 Markdown 문서 품질 검증 추가
  .pre-commit-config.yaml
Due: yamllint

test: pre-commit 통합 테스트 완료
  .pre-commit-config.yaml
Due: yamllint

docs: pre-commit 설정 종합 문서화 완료
  CLAUDE.md
  shell.nix
Due: none

fix: GitHub Actions 워크플로우 shellcheck 오류 해결
  .github/workflows/auto-update-flake.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
Due: yamllint

fix: 남은 shellcheck 경고 완전 해결
  .github/workflows/auto-update-flake.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: yamllint

fix: lint 워크플로우에 Nix 설치 추가
  .github/workflows/lint.yml
Due: yamllint

fix: lint를 devShell에서 실행하여 Nix 도구 접근 허용
  .github/workflows/lint.yml
Due: yamllint

feat: 개발 도구 정리 및 Claude 명령어 체계 개선
  modules/darwin/casks.nix
  modules/shared/config/claude/commands/build.md
Due: none

test: Claude 명령어 파일 복사 단위 테스트 추가
  .gitignore_global
  modules/shared/config/claude/commands/plan.md
  tests/unit/claude-commands-copy-unit.nix
Due: none

fix: plan-tdd.md에서도 .local/ 경로 제거
  modules/shared/config/claude/commands/plan-tdd.md
Due: none

test: TTL 캐시 및 로컬 변경사항 감지 로직 테스트 향상
  .cursor/commands/create-command.md
  tests/unit/auto-update-dotfiles-unit.nix
Due: none

fix: CI 실패 해결 및 로컬 테스트 시스템 개선
  CLAUDE.md
  flake.nix
  scripts/test-all-local
  tests/default.nix
  tests/unit/claude-commands-copy-unit.nix
Due: shellcheck-scripts

test: TTL 캐시 및 로컬 변경사항 감지 로직 테스트 향상 (#107)
  .cursor/commands/create-command.md
  CLAUDE.md
  flake.nix
  scripts/test-all-local
  tests/default.nix
  tests/unit/auto-update-dotfiles-unit.nix
  tests/unit/claude-commands-copy-unit.nix
Due: shellcheck-scripts

test: auto-update 시스템의 원격 감지 및 build-switch 실행 테스트 구현
  tests/e2e/build-switch-auto-update-e2e.nix
  tests/unit/auto-update-dotfiles-unit.nix
Due: none

test: auto-update 시스템의 원격 감지 및 build-switch 실행 테스트 구현 (#108)
  tests/e2e/build-switch-auto-update-e2e.nix
  tests/unit/auto-update-dotfiles-unit.nix
Due: none

docs: Claude 설정 문서 언어 프로토콜 명확화
  modules/shared/config/claude/CLAUDE.md
Due: none

fix: CLAUDE.md merge conflict 해결 및 문서 정리
  CLAUDE.md
  modules/shared/config/claude/commands/docs.md
  modules/shared/config/claude/commands/update-docs.md
Due: none

flake.lock: Update (#109)
  flake.lock
Due: none

feat: Claude 설정 파일 강제 덮어쓰기 구현
  modules/darwin/home-manager.nix
  modules/shared/lib/conditional-file-copy.nix
  tests/e2e/claude-config-force-overwrite-e2e.nix
  tests/e2e/claude-config-workflow-e2e.nix
  tests/integration/claude-config-force-overwrite-integration.nix
  tests/integration/claude-config-preservation-integration.nix
  tests/unit/claude-commands-copy-unit.nix
  tests/unit/claude-config-force-overwrite-unit.nix
Due: none

feat: Claude 설정 파일 강제 덮어쓰기 구현 (#110)
  modules/darwin/home-manager.nix
  modules/shared/lib/conditional-file-copy.nix
  tests/e2e/claude-config-force-overwrite-e2e.nix
  tests/e2e/claude-config-workflow-e2e.nix
  tests/integration/claude-config-force-overwrite-integration.nix
  tests/integration/claude-config-preservation-integration.nix
  tests/unit/claude-commands-copy-unit.nix
  tests/unit/claude-config-force-overwrite-unit.nix
Due: none

fix(ci): auto-update-flake.yml에서 자동 머지 실패 문제 해결
  .github/workflows/auto-update-flake.yml
Due: yamllint

flake.lock: Update (#112)
  flake.lock
Due: none

docs: CLAUDE.md 및 README.md 문서 개선
  CLAUDE.md
  README.md
Due: none

feat: Claude 명령어 시스템에 create-pr 및 fix-pr 명령어 추가
  modules/shared/config/claude/commands/create-pr.md
  modules/shared/config/claude/commands/fix-pr.md
Due: none

feat: Claude 명령어 시스템에 create-pr 및 fix-pr 명령어 추가 (#113)
  modules/shared/config/claude/commands/create-pr.md
  modules/shared/config/claude/commands/fix-pr.md
Due: none

feat: Claude 명령어 시스템 문서 개선 및 create-worktree 명령어 추가
  modules/shared/config/claude/commands/create-worktree.md
Due: none

fix: ABOUTME 코멘트 요구사항 제거 및 파일 정리
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/create-pr.md
  modules/shared/lib/claude-config-policy.nix
  modules/shared/lib/conditional-file-copy.nix
Due: none

feat: Claude 명령어 시스템 확장 및 문서 개선 (#114)
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/create-pr.md
  modules/shared/config/claude/commands/create-worktree.md
  modules/shared/lib/claude-config-policy.nix
  modules/shared/lib/conditional-file-copy.nix
Due: none

Test: 기존 파일 보존 비활성화 기능을 위한 테스트 추가
  tests/unit/claude-config-force-overwrite-unit.nix
Due: none

docs: Translate and improve create-command documentation
  .cursor/commands/create-command.md
Due: none

feat: 기존 파일 보존 비활성화 기능 구현
  modules/shared/config/claude/commands/update-docs-workflow.md
  modules/shared/lib/claude-config-policy.nix
  modules/shared/lib/conditional-file-copy.nix
  tests/unit/claude-config-force-overwrite-unit.nix
Due: none

docs: Translate and improve create-command documentation (#115)
  .cursor/commands/create-command.md
  modules/shared/config/claude/commands/update-docs-workflow.md
  modules/shared/lib/claude-config-policy.nix
  modules/shared/lib/conditional-file-copy.nix
  tests/unit/claude-config-force-overwrite-unit.nix
Due: none

chore: 중복 파일 정리 및 update-docs 명령어 정리
  modules/shared/config/claude/commands/update-docs-workflow.md
  modules/shared/config/claude/commands/update-docs.md
Due: none

feat: 기존 파일 보존 비활성화 기능 구현
  README.md
  tests/unit/claude-config-force-overwrite-feature-test.nix
Due: none

docs: README.md 문서 구조 및 내용 대폭 개선
  README.md
Due: none

chore: update
  CONTRIBUTING.md
Due: none
