Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, deadnix, go-test, flake-outputs-check

Path conditions:
  nixfmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  go-test: any of: \.go$
  flake-outputs-check: any of: flake\.nix$|lib/testing\.nix$

test(e2e): enhance Claude hooks validation and E2E test infrastructure
  Makefile
  flake.nix
  lib/testing.nix
  modules/shared/programs/claude/default.nix
  tests/e2e/claude-hooks-test.nix
  tests/e2e/default.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

feat(claude): enable global claude-hooks command execution
  modules/shared/config/claude/settings.json
  modules/shared/programs/claude/default.nix
Due: nixfmt, statix, deadnix

feat(e2e): Add Claude hooks E2E test to Makefile
  Makefile
Due: none

feat(claude): automatic PR description cleaning via PostToolUse hook
  modules/shared/config/claude/settings.json
  modules/shared/programs/claude/hooks-go/cmd/claude-hooks/main.go
  modules/shared/programs/claude/hooks-go/internal/hooks/posttooluse/gh_pr_cleaner.go
  modules/shared/programs/claude/hooks-go/internal/hooks/posttooluse/gh_pr_cleaner_test.go
  modules/shared/programs/claude/hooks-go/internal/hooks/pretooluse/gh_pr_validator.go
Due: go-test

refactor(claude): separate claude-hook into independent module
  .pre-commit-config.yaml
  flake.nix
  lib/testing.nix
  modules/shared/programs/claude-hook/.gitignore
  modules/shared/programs/claude-hook/cmd/claude-hooks/main.go
  modules/shared/programs/claude-hook/default.nix
  modules/shared/programs/claude-hook/go.mod
  modules/shared/programs/claude-hook/internal/hook/hook.go
  modules/shared/programs/claude-hook/internal/hook/testing.go
  modules/shared/programs/claude-hook/internal/hook/validation.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/gh_pr_cleaner.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/gh_pr_cleaner_test.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/message_cleaner.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/message_cleaner_test.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/gh_pr_validator.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/gh_pr_validator_test.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator_test.go
  modules/shared/programs/claude/default.nix
  tests/e2e/claude-hooks-test.nix
Due: nixfmt, statix, deadnix, go-test, flake-outputs-check

fix(ci): update Go test path to claude-hook module
  .github/workflows/ci.yml
Due: none

feat(claude-hooks): Restructure Claude hooks implementation (#698)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  Makefile.test-patch
  baseline-build-status.md
  code-quality-analysis.md
  docs/CODE_QUALITY_CYCLE3_FINAL_REPORT.md
  docs/CODE_QUALITY_FINAL_SUMMARY.md
  docs/research_nix_vm_testing_20241004.md
  flake.nix
  lib/testing.nix
  modules/shared/config/claude/settings.json
  modules/shared/programs/claude-hook/.gitignore
  modules/shared/programs/claude-hook/cmd/claude-hooks/main.go
  modules/shared/programs/claude-hook/default.nix
  modules/shared/programs/claude-hook/go.mod
  modules/shared/programs/claude-hook/internal/hook/hook.go
  modules/shared/programs/claude-hook/internal/hook/testing.go
  modules/shared/programs/claude-hook/internal/hook/validation.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/gh_pr_cleaner.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/gh_pr_cleaner_test.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/message_cleaner.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/message_cleaner_test.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/gh_pr_validator.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/gh_pr_validator_test.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator_test.go
  modules/shared/programs/claude/default.nix
  scripts/test-build-switch-ci
  scripts/test-build-switch-ci-manual
  scripts/test-build-switch-health
  tests/e2e/claude-hooks-test.nix
  tests/e2e/default.nix
  tests/validation/results/flake-check.time
Due: nixfmt, statix, deadnix, go-test, flake-outputs-check

flake.lock: Update (#702)
  flake.lock
Due: none

flake.lock: Update (#703)
  flake.lock
Due: none

flake.lock: Update (#704)
  flake.lock
Due: none

flake.lock: Update (#705)
  flake.lock
Due: none

flake.lock: Update (#706)
  flake.lock
Due: none

flake.lock: Update (#707)
  flake.lock
Due: none

flake.lock: Update (#708)
  flake.lock
Due: none

feat: Refine create-worktree command for faster execution
  modules/shared/config/claude/settings.json
  modules/shared/files.nix
Due: nixfmt, statix, deadnix

feat: auto-close existing dependency PRs before creating new one
  .claude/README.md
  .claude/commands/improve-claude-config.md
  .github/workflows/auto-update-flake.yml
Due: none

모든 Claude 설정을 dotfiles에서 직접 관리
  modules/shared/files.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt, statix, deadnix

Claude 설정 관리 변경에 따른 테스트 업데이트
  modules/darwin/home-manager.nix
  tests/unit/modules/claude-test.nix
Due: nixfmt, statix, deadnix

Fix Claude module configuration
  modules/darwin/files.nix
  modules/darwin/home-manager.nix
  modules/shared/programs/claude/default.nix
Due: nixfmt, statix, deadnix

Update Claude module tests for direct directory symlinks
  tests/unit/modules/claude-test.nix
Due: nixfmt, statix, deadnix

Fix build error in pure evaluation mode
  flake.nix
  hosts/darwin/default.nix
  lib/user-resolution.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

Remove deprecated Claude command files and fix markdownlint errors
  .claude/README.md
  .claude/commands/analyze.md
  .claude/commands/clarify.md
  .claude/commands/commit.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/plan.md
  .claude/commands/setup.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
Due: none

Fix nested code blocks by removing json fence markers
  .claude/commands/improve-claude-config.md
Due: none

Remove deprecated Claude command files (#709)
  .claude/README.md
  .claude/commands/analyze.md
  .claude/commands/clarify.md
  .claude/commands/commit.md
  .claude/commands/constitution.md
  .claude/commands/implement.md
  .claude/commands/improve-claude-config.md
  .claude/commands/plan.md
  .claude/commands/setup.md
  .claude/commands/specify.md
  .claude/commands/tasks.md
  .github/workflows/auto-update-flake.yml
  flake.nix
  hosts/darwin/default.nix
  lib/user-resolution.nix
  modules/darwin/files.nix
  modules/darwin/home-manager.nix
  modules/shared/config/claude/settings.json
  modules/shared/files.nix
  modules/shared/programs/claude/default.nix
  tests/unit/modules/claude-test.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

feat(claude): Update Claude command infrastructure and testing
  modules/shared/programs/claude/default.nix
  tests/unit/modules/claude-test.nix
Due: nixfmt, statix, deadnix

feat(claude): Update Claude command infrastructure and testing (#710)
  modules/shared/programs/claude/default.nix
  tests/unit/modules/claude-test.nix
Due: nixfmt, statix, deadnix

feat(nix): add Cachix caches and fix experimental features
  .pre-commit-config.yaml
  hosts/darwin/default.nix
  modules/shared/cachix/default.nix
Due: nixfmt, statix, deadnix

feat(nix): add Cachix caches and fix experimental features (#711)
  .pre-commit-config.yaml
  hosts/darwin/default.nix
  modules/shared/cachix/default.nix
Due: nixfmt, statix, deadnix

feat(nix): Add comprehensive testing for experimental Nix features
  Makefile
  flake.nix
  lib/testing.nix
  tests/integration/test-makefile-nix-experimental-features.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

fix(test): Use system parameter in test suite title
  tests/integration/test-makefile-nix-experimental-features.nix
Due: nixfmt, statix, deadnix

feat(nix): Add Nix Experimental Features Testing Infrastructure (#712)
  Makefile
  flake.nix
  lib/testing.nix
  tests/integration/test-makefile-nix-experimental-features.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

fix(makefile): Use installed home-manager instead of nix run
  Makefile
Due: none

fix(makefile): Use installed home-manager instead of nix run (#714)
  Makefile
Due: none

flake.lock: Update (#715)
  flake.lock
Due: none

feat(makefile): Implement Option 3 switch commands with TDD
  CLAUDE.md
  Makefile
  flake.nix
  hosts/darwin/default.nix
  lib/testing.nix
  tests/unit/makefile-switch-commands-test.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

refactor(darwin): Improve performance-optimization.nix with best practices
  CLAUDE.md
  hosts/darwin/default.nix
  modules/darwin/macos-app-cleanup.nix
  modules/darwin/performance-optimization.nix
Due: nixfmt, statix, deadnix

refactor(darwin): Optimize Home Manager Darwin configuration
  modules/darwin/home-manager.nix
Due: nixfmt, statix, deadnix

fix(lint): Remove unused lambda patterns in Nix files
  modules/darwin/macos-app-cleanup.nix
  modules/darwin/performance-optimization.nix
  tests/unit/makefile-switch-commands-test.nix
Due: nixfmt, statix, deadnix

style(markdown): Fix markdownlint formatting in CLAUDE.md
  CLAUDE.md
Due: none
