Repository baleen37/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt, statix, deadnix, go-test, flake-outputs-check

nixfmt:
  name: nixfmt (RFC 166)
  entry: nixfmt
  language: system
  description: Official Nix code formatter

statix:
  name: statix
  entry: statix check
  language: system
  pass_filenames: false
  description: Nix anti-pattern linter

deadnix:
  name: deadnix
  entry: deadnix --edit
  language: system
  description: Dead code detector with auto-fix

go-test:
  name: Go Tests (Claude Hooks)
  entry: bash -c 'cd modules/shared/programs/claude/hooks-go && nix-shell -p go --run "go test -v ./..."'
  language: system
  pass_filenames: false
  description: Run Go tests for Claude Code hooks

flake-outputs-check:
  name: Flake Outputs Naming Conflict Check
  entry: ./scripts/check-flake-outputs.sh
  language: system
  pass_filenames: false
  description: Prevent naming conflicts between apps, packages, and checks

fix(test): Restore lib parameter in makefile-switch-commands-test
  tests/unit/makefile-switch-commands-test.nix
Due: nixfmt, statix, deadnix

fix(pre-commit): Exclude makefile-switch-commands-test from deadnix
  .pre-commit-config.yaml
Due: none

feat(darwin): Implement aggressive optimization for macOS
  hosts/darwin/default.nix
  modules/darwin/aggressive-optimization.nix
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/validate-quality.md
  tests/integration/aggressive-optimization-test.nix
Due: nixfmt, statix, deadnix

test(darwin): Update aggressive-optimization tests for universalaccess migration
  tests/integration/aggressive-optimization-test.nix
Due: nixfmt, statix, deadnix

fix(darwin): Comment out Safari sandboxed preferences
  modules/darwin/aggressive-optimization.nix
  tests/integration/aggressive-optimization-test.nix
Due: nixfmt, statix, deadnix

fix(darwin): Remove universalaccess settings due to accessibility permissions
  modules/darwin/aggressive-optimization.nix
  tests/integration/aggressive-optimization-test.nix
Due: nixfmt, statix, deadnix

feat(darwin): Disable additional background services for performance optimization
  modules/darwin/aggressive-optimization.nix
Due: nixfmt, statix, deadnix

feat(darwin): Add Syncthing and disable Time Machine helper agent
  hosts/darwin/default.nix
  modules/darwin/aggressive-optimization.nix
  modules/darwin/casks.nix
Due: nixfmt, statix, deadnix

feat(darwin): Implement comprehensive macOS performance optimization
  modules/darwin/casks.nix
  modules/darwin/home-manager.nix
  modules/shared/packages.nix
Due: nixfmt, statix, deadnix

feat(darwin): Update Homebrew casks configuration
  modules/darwin/casks.nix
Due: nixfmt, statix, deadnix

fix: Apply statix auto-fixes to resolve CI lint warnings
  tests/integration/aggressive-optimization-test.nix
Due: nixfmt, statix, deadnix

docs(claude): Simplify validate-quality command with action-focused approach
  modules/shared/config/claude/commands/validate-quality.md
Due: none

fix: Remove unused declarations in aggressive-optimization test
  tests/integration/aggressive-optimization-test.nix
Due: nixfmt, statix, deadnix

Optimize macOS Performance with Declarative Configuration (#716)
  .pre-commit-config.yaml
  CLAUDE.md
  Makefile
  flake.nix
  hosts/darwin/default.nix
  lib/testing.nix
  modules/darwin/aggressive-optimization.nix
  modules/darwin/casks.nix
  modules/darwin/home-manager.nix
  modules/darwin/macos-app-cleanup.nix
  modules/darwin/performance-optimization.nix
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/commands/validate-quality.md
  modules/shared/packages.nix
  tests/integration/aggressive-optimization-test.nix
  tests/unit/makefile-switch-commands-test.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

perf(ci): Optimize GitHub Actions cache and parallelization
  .github/workflows/ci.yml
Due: none

fix(ci): Remove non-existent security job from ci-complete dependencies
  .github/workflows/ci.yml
Due: none

chore(cleanup): Remove outdated Claude agent configuration files
  modules/shared/config/claude/agents/javascript-pro.md
  modules/shared/config/claude/agents/python-pro.md
Due: none

perf(ci): Optimize GitHub Actions cache and parallelization (#718)
  .github/workflows/ci.yml
  modules/shared/config/claude/agents/javascript-pro.md
  modules/shared/config/claude/agents/python-pro.md
Due: none

refactor(claude-agents): Update Git specialist agent configuration
  modules/shared/config/claude/agents/git-specialist.md
Due: none

refactor(claude-agents): Update Git workflow and agent configurations
  modules/shared/config/claude/agents/git-specialist.md
Due: none

refactor(agents): Enhance git-specialist with rebase and merged commit handling
  modules/shared/config/claude/commands/create-pr.md
Due: none

refactor(claude-agents): Enhance Git Specialist Agent Configuration (#719)
  modules/shared/config/claude/agents/git-specialist.md
  modules/shared/config/claude/commands/create-pr.md
Due: none

refactor(claude): Use self.outPath for dynamic dotfiles root resolution
  flake.nix
  modules/darwin/home-manager.nix
  modules/shared/programs/claude/default.nix
  modules/shared/programs/index.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

refactor(claude): Use self.outPath for dynamic dotfiles root resolution
  .claude/skills/nix-claude-config/SKILL.md
  .claude/skills/nix-claude-config/reference.md
  flake.nix
  modules/darwin/home-manager.nix
  modules/shared/config/claude/agents/backend-architect.md
  modules/shared/config/claude/agents/code-reviewer.md
  modules/shared/config/claude/agents/debugger.md
  modules/shared/config/claude/agents/frontend-developer.md
  modules/shared/config/claude/agents/test-automator.md
  modules/shared/config/claude/commands/create-claude-command.md
  modules/shared/config/claude/commands/create-claude-skill.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/index.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

refactor(claude): Use self.outPath for dynamic dotfiles root resolution (#721)
  .claude/skills/nix-claude-config/SKILL.md
  .claude/skills/nix-claude-config/reference.md
  flake.nix
  modules/darwin/home-manager.nix
  modules/shared/config/claude/agents/backend-architect.md
  modules/shared/config/claude/agents/code-reviewer.md
  modules/shared/config/claude/agents/debugger.md
  modules/shared/config/claude/agents/frontend-developer.md
  modules/shared/config/claude/agents/test-automator.md
  modules/shared/config/claude/commands/create-claude-command.md
  modules/shared/config/claude/commands/create-claude-skill.md
  modules/shared/programs/claude/default.nix
  modules/shared/programs/index.nix
Due: nixfmt, statix, deadnix, flake-outputs-check

docs(claude): Enhance dead code removal guidelines with detailed criteria
  modules/shared/config/claude/CLAUDE.md
Due: none

feat(claude-agents): Add token-efficient test execution strategy
  modules/shared/config/claude/agents/test-automator.md
Due: none

feat(claude-agents): Add token-efficient test execution strategy (#722)
  modules/shared/config/claude/CLAUDE.md
  modules/shared/config/claude/agents/test-automator.md
Due: none

docs(claude-agents): Update test automator configuration for token efficiency
  modules/shared/config/claude/agents/test-automator.md
Due: none

docs(claude-agents): Update test automator configuration for token efficiency (#723)
  modules/shared/config/claude/agents/test-automator.md
Due: none

flake.lock: Update (#724)
  flake.lock
Due: none

feat(claude-skills): Add GitHub Actions testing skill with Playwright reference
  .github/workflows/ci.yml
  modules/shared/config/claude/skills/testing-github-actions/SKILL.md
  modules/shared/config/claude/skills/testing-github-actions/reference.md
Due: none

feat(ci): Improve GitHub Actions workflow security and efficiency
  .github/actions/setup-nix/action.yml
  .github/workflows/ci.yml
Due: none

feat(claude-skills): Add GitHub Actions testing skill with Playwright reference (#725)
  .github/actions/setup-nix/action.yml
  .github/workflows/ci.yml
  modules/shared/config/claude/skills/testing-github-actions/SKILL.md
  modules/shared/config/claude/skills/testing-github-actions/reference.md
Due: none

feat(claude-config): Add skills directory to Nix management
  modules/shared/config/claude/commands/create-claude-skill.md
  modules/shared/config/claude/skills/testing-github-actions/reference.md
  modules/shared/programs/claude/default.nix
Due: nixfmt, statix, deadnix

feat(claude-config): Add skills directory to Nix management (#726)
  modules/shared/config/claude/commands/create-claude-skill.md
  modules/shared/config/claude/skills/testing-github-actions/reference.md
  modules/shared/programs/claude/default.nix
Due: nixfmt, statix, deadnix

refactor(claude): Streamline config validation and documentation
  .claude/commands/improve-claude-config.md
  modules/shared/config/claude/CLAUDE.md
  modules/shared/programs/claude-hook/internal/hook/hook.go
  modules/shared/programs/claude-hook/internal/hook/validation.go
  modules/shared/programs/claude-hook/internal/hooks/posttooluse/message_cleaner_test.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator.go
  modules/shared/programs/claude-hook/internal/hooks/pretooluse/git_commit_validator_test.go
Due: go-test

Path conditions:
  nixfmt: any of: \.nix$
  statix: any of: \.nix$
  deadnix: any of: \.nix$
  go-test: any of: \.go$
  flake-outputs-check: any of: flake\.nix$|lib/testing\.nix$
